%body
  .wrapper
    .chat-side
      .side-header
        .side-header__box
          %p.side-header__box__user-name
            = current_user.name
          %ul.side-header__box__menu
            %li.side-header__box__menu__new-group
              = link_to "/groups/new" do 
                %i.fa.fa-edit                                          
            %li.side-header__box__menu__edit-user
              = link_to edit_user_path(current_user) do
                = fa_icon 'cog', class: 'icon'         
      .groups
        - current_user.groups.each do |group| 
          = link_to group_messages_path(group) do 
            .group    
              %p.group__group-name 
                = group.name
              %p.group__latest-message 
                = group.show_last_message
    .chat-main 
      .main-header 
        .main-header__left-box{data: {groupid: @group.id}}
          %h2.main-header__left-box__current-group  
            = @group.name
          %ul.main-header__left-box__member-list         
            Member :
            - @group.users.each do |user|
              %li.main-header__left-box__member-list__member #{user.name}
        = link_to "Edit",edit_group_path(@group), class: "main-header__edit-btn" 
      .messages 
        = render @messages  
      .form
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'input-box__text', id: 'message_content', placeholder: 'type a message'
          .input-box
            = f.label :image, class: 'input-box__image', for: "message_image" do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'input-box__image__file', id: 'message_image'
          = f.submit 'Send', class: 'submit-btn'  